.root{
  align-content: top-center
}

.row{
  float:none;
  text-align: center;
  padding-top: 20px
}

.title{
  font-size:46px;
  color:red;
  padding-bottom: 40px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}